.component {
  background-color: #0ec46f;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  position: relative;
  width: 390px;
  top: 455px;
  left: 109px;
  cursor: pointer;
}

.component .text-wrapper {
  color: #ffffff;
  font-family: "Anonymous Pro", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 390px;
}

.component:hover {
  background-color: #0df589;
}

.component:hover .text-wrapper {
  color: #706868;
}
